@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&family=Playfair+Display:wght@800&family=Roboto+Slab:wght@800&display=swap');

/* font-family: 'Noto Serif', serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto Slab', serif; */


*{
  margin:0;
  padding:0;
}

body{
  overflow-x: hidden;
  background-color: #f5f5f5;
}

/* *******  Mobile Block  ********* */

.content{
  padding:70px 0;
  width: 100%;
  height:100%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-column-gap: 20px;  
  grid-row-gap: 30px;
}

.block{
  margin: 0 auto;
  width: 250px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  transition: .4s ease-in-out;
  position: relative;
  overflow: hidden;
}
.block:hover{
  box-shadow: 0px 10px 10px rgba(0,0,0,.5);
}

.block .img-container{
  margin-top: 20px;
  width: 100%;
  height: 70%;
  text-align: center;
}

.block:hover img{
  transform:scale(1.1);
}

.block .img-container img{
  max-width: 200px;
  height: 200px;
  transition: .5s;
}

.text{
padding: 10px;
width: 100%;
text-align: center;
}

.text .title{
  margin: 0;
  font-size:18px;
}
.text .price{
  margin: 10px 0 0 0;
  font-size: 14px;
  color:#5d5d5a;
}

.cart-btn{
  position: absolute;
  top:50%;
  right:-100%;
  display: inline-block;
  transform: translateY(-50%);
  padding:12px 50px;
  border:none;
  color:whitesmoke;
  font-weight: bold;
  background:#4bc2c5;
  transition: .7s;
  outline: none;
  overflow: hidden;
}

.block:hover .cart-btn{
  right:0;
}


/* ***************   Detail Product  *********** */

.full-block{
  margin:50px 0;
  padding:30px 20px;
}

.full-img-container{
  width:100%;
  height: auto;
}

.full-img-container img{
  width:300px;
  height: auto;
}

.full-block .title{
  margin:10px 0;
  font-size: 30px;
  text-transform: capitalize;
}

.full-block .company{
  margin:10px 0 20px 0;
  font-size: 18px;
  text-transform: uppercase;
}

.full-block .price{
  margin-bottom: 10px;
  font-size: 35px;
  text-transform: capitalize;
  font-weight: 500;
}

.full-block .info-title{
  margin:5px 0;
  font-size: 20px;
  font-weight: bold;
}

.full-block .info{
  margin:0px;
  font-size: 16px;
}

.detail-btn{
  margin:20px 0;
  border: none;
  padding:10px 30px;
  font-size: 18px;
  font-weight: bold;
  background: #ff9f00;
  color: whitesmoke;
}

.back{
  margin-left: 20px;
  background: #5d13e7;
}

.total{
  margin: 30px 0;
}
